html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

#page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}



#diaporama_container{
    width: 100%;
    height: 435px;
    margin-bottom: 10px;
    background-color: #C6C6C6;
}

#diaporama_container h1 {
    margin-bottom: 0;
    padding-top: 5px;
    text-align: center;
}

.prevNext{
    position: absolute;
    z-index:  1;
    top:      35%;
    height:   0;
    width: 100%;
    font-size: 4em;
}


.prevNext #next {
    float: right;
}

.prevNext #prev {
    float: left;
}

.btnslide {
    width: 40px;
    height: 70px;
    font-size: 0.7em;
}

#carrousel {
    position: relative;
    width: 100%;
    height: 375px;
    overflow: hidden;
}

#carrousel li {
    list-style-type: none;
    vertical-align: middle;
}

#carrousel ul {
    margin: 0;
    padding: 0;
}

#carrousel li img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#legendeMap {
    width: 100%;
    height: 100px;
}

#legendeMap li {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
}

#legendeMap ul {
    display: flex;
}

#legendeMap li img {
    height: auto;
}

#legendeMap h3 {
    text-align: center;
    margin: 0;
}

#legendeMap p {
    font-size: 0.8em;
}

#map_container {
    width: 100%;
    height: 680px;
    display: flex;
}

#station {
    width: 30%;
    height: 100%;
    margin-left: 5px;
    background-color: #C6C6C6;
}

#details {
    width: 100%;
    height: 60%;
}

#details h1 {
    margin: 0;
    font-size: 1.5em;
}

#details  {
    text-align: center;
    margin-top: 10px;
}

#detailStation h3 {
    text-decoration: underline;
}

#detailStation p {
    color: darkgreen;
    font-size: 1em;
}

#signature {
    width: 80%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#signature h6 {
    margin: 0;
}

#canvas {
    width: 100%;
    height: 80%;
    background: white;
}

#detailsSignature {
    width: 100%;
    height: 20%;
    text-align: center;
}

#map {
    width: 70%;
    height: 100%;
}

#pied {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #C6C6C6;
}

#pied {
    text-align: center;
}

#detailStation h3 {
    font-size: 0.8em;
}

#signature {
    background-color: #C6C6C6;
}

#signature h6 {
    background-color: #C6C6C6;
}

canvas {
    width: 100%;
    height: auto;
}

#alertBox {
    z-index: 100000;
    border: 3px solid red;
    background-color: #C6C6C6;
    color: red;
    text-align: center;
}

@media screen and (min-width: 1440px) {
    #diaporama_container {
        height: 580px;
    }

    #carrousel {
        height: 580px;
        overflow: visible;
    }
}