html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

#page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#diaporama_container{
    width: 100%;
    height: 375px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}

.prevNext{
    position: absolute;
    z-index:  1;
    top:      45%;
    height:   0;
    width: 100%;
    font-size: 2em;
}


.prevNext #next {
    float: right;
}

.prevNext #prev {
    float: left;
}

#carrousel {
    position: relative;
    height: 375px;
    width: 100%;
}

#carrousel li {
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: auto;
}

#carrousel li img {
    margin-left: auto;
    margin-right: auto;
}

#carrousel ul li {
    position: absolute;
    top: 0;
    left: 0;
}

#map_container {
    width: 100%;
    height: 680px;
    display: flex;
}

#station {
    width: 30%;
    height: 100%;
    margin-left: 5px;
    background-color: #f5f5f5;
}

#details {
    width: 100%;
    height: 60%;
}

#details h1 {
    margin: 0;
}

#signature {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#signature h6 {
    margin: 0;
}

#canvas {
    width: 100%;
    height: 80%;
    background: white;
}

#detailsSignature {
    width: 100%;
    height: 20%;
    text-align: center;
}

#map {
    width: 70%;
    height: 100%;
}

#pied {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
}

#pied {
    text-align: center;
}

#detailStation h3 {
    font-size: 0.8em;
}

#signature {
    background-color: #f5f5f5;
}

#signature h6 {
    background-color: #f5f5f5;
}

canvas {
    width: 100%;
    height: auto;
}

#alertBox {
    z-index: 100000;
    border: 3px solid red;
    background-color: #C6C6C6;
    color: red;
    text-align: center;
}
